{% extends "cpanel_template.twig" %}
{% set activetab = 'barrels' %}
{% block title %} Edit Barrel  {% endblock %}
{% block content %}

            <header id="header_banner" class="barrels_header">
                <div id="header_quote"><p>Edit Barrel</p></div>
            </header>
            <div id="content_container">
                <form action="cp_barrel_edit.php?id={{ barrel.id }}" method="post">
                   
                    <label for="type">Barrel: </label>
                    <input type="text" value="{{ barrel.type }}" id="type" name="type" />
                    <input type="submit" value="Save changes">
                </form>
            </div>
{% endblock %} 