{% extends "cpanel_template.twig" %}
{% set activetab = 'users' %}
{% block title %} add user  {% endblock %}
{% block content %}

<header id="header_banner" class="users_header">
	<div id="header_quote"><p>Add new user</p></div>
</header>

<div id="content_container">
    {% if msg == "missing" %}
        <div id="notifier" class="yellow shadow">
            <p><span class="fa fa-exclamation-circle"></span>
                Username, firstname, lastname and e-mail are required.</p>
        </div>
    {% elseif msg == "success" %}
        <div id="notifier" class="green shadow">
            <p><span class="fa fa-check-circle"></span>
                User successfully added.</p>
        </div>
    {% elseif msg == "wrong_image" %}
        <div id="notifier" class="red shadow">
            <p><span class="fa fa-times-circle"></span>
                Only .png, .jpg, .jpeg and .gif files are allowed.</p>
        </div>
    {% elseif msg == "wrong_image_size" %}
        <div id="notifier" class="red shadow">
            <p><span class="fa fa-times-circle"></span>
                Allowed file size is 2MB</p>
        </div>
    {% elseif msg == "username_exists" %}
        <div id="notifier" class="red shadow">
            <p><span class="fa fa-times-circle"></span>
                This username already exists.</p>
        </div>
    {% elseif msg == "email_exists" %}
        <div id="notifier" class="red shadow">
            <p><span class="fa fa-times-circle"></span>
                User with this e-mail already exists.</p>
        </div>
    {% elseif msg == "error" %}
        <div id="notifier" class="red shadow">
            <p><span class="fa fa-times-circle"></span>
                Something is wrong</p>
        </div>
    {% elseif msg == "info" %}
        <div id="notifier" class="blue shadow">
            <p><span class="fa fa-info-circle"></span>
                "This is info, insert correct message here!"</p>
        </div>
    {% endif %}

    <div id="controller" class="shadow">
    	<form class="cp_subform" action="" method="post" enctype="multipart/form-data">

            <div class="flex_parent">
                <div class="flex_child">

                    <h3>E-mail:</h3>
                    <input type="text" name="userEmail" placeholder="E-mail"/>
                    <h3>Username:</h3>
                    <input type="text" name="userUsername" placeholder="Username"/>
                    <h3>Password:</h3>
                    <input type="text" name="userPassword" placeholder="Password"/>
                    <h3>Firstname:</h3>
                    <input type="text" name="userFirstName" placeholder="Firstname"/>
                    <h3>Lastname:</h3>
                    <input type="text" name="userLastName" placeholder="Lastname"/>

                    <div class="">
                        <h3>Admin: <input type="checkbox" value="1" name="userAdmin"></h3>
                        <h3>Blocked: <input type="checkbox" value="1" name="userBlocked"></h3>
                    </div>
                </div>
                <div class="flex_child text_center">
                    <h3>Profile Picture:</h3>
                    {#<img src="src/ProjectWhisky/presentation/userimages/default.jpg" alt="Profile Picture"/>#}
                    <div class="fileUpload btn btn-primary center">
                        <span class="fa fa-plus"></span> <span> Add Picture</span>
                        <input id="imgUploader" type="file" class="upload" name="userImage">
                        <input class="btn btn-primary text_left" id="uploadFile" placeholder="No File Selected" disabled="disabled">
                    </div>
                </div>
            </div>
            <br>
    		<input class="btn btn-primary" type="submit" value="Create User"/>
    	</form>
        </div>
</div>
{% endblock %} 