{% extends "cpanel_template.twig" %}
{% set activetab = 'users' %}
{% block title %} add user  {% endblock %}
{% block content %}

<header id="header_banner" class="users_header">
	<div id="header_quote"><p>Add new user</p></div>
</header>

<div id="content_container">
    <div id="controller" class="shadow">
    	<form class="cp_subform" action="" method="post">

            <div class="flex_parent">
                <div class="flex_child">

                    <h3>E-mail:</h3>
                    <input type="text" name="userEmail" placeholder="E-mail"/>
                    <h3>Username:</h3>
                    <input type="text" name="userUsername" placeholder="Username"/>
                    <h3>Password:</h3>
                    <input type="password" name="userPassword" placeholder="Password"/>
                    <h3>Firstname:</h3>
                    <input type="text" name="userFirstName" placeholder="Firstname"/>
                    <h3>Lastname:</h3>
                    <input type="text" name="userLastName" placeholder="Lastname"/>

                    <div class="">
                        <h3>Admin: <input type="checkbox" value="1" name="userAdmin"></h3>
                        <h3>Blocked: <input type="checkbox" value="1" name="userBlocked"></h3>
                    </div>
                </div>
                <div class="flex_child text_center">
                    <h3>Profile Picture:</h3>
                    <img src="src/ProjectWhisky/presentation/userimages/default.jpg" alt="Profile Picture"/>
                    <div class="fileUpload btn btn-primary center">
                        <span class="fa fa-plus"></span> <span> Add Picture</span>
                        <input id="imgUploader" type="file" class="upload" name="userImage">
                        <input class="btn btn-primary text_left" id="uploadFile" placeholder="No File Selected" disabled="disabled">
                    </div>
                </div>
            </div>
            <br>
    		<input class="btn btn-primary" type="submit" value="Create User"/>
    	</form>
        </div>
</div>
{% endblock %} 