{% extends "default_template.twig" %}

{% block content %}

    <header id="header_banner" class="whisky_header">
        <div id="header_quote"><p>Edit Whisky</p></div>
    </header>
        <div id="content_container">




        </div>
{% endblock %}    