 <!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Project Whisky - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/admin/style.css">
        <link rel="stylesheet" href="css/iconfonts/css/font-awesome.min.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <nav id="navbar" class="fullwidth top">
            <!-- Full top navigator -->
            <div class="navbar_icons clearfix">
                <ul class="right">
                    <li class="navbutton fa fa-search left"><a href="">Search</a></li>
                    <li class="navbutton fa fa-cogs left"><a href="cpanel_index.html">Control Panel</a></li>
                    <li class="navbutton fa fa-globe left"><a href="homepage.html">Website</a></li>
                    <li class="navbutton fa fa-user left"><a href="">Profile</a></li>
                    <li class="navbutton fa fa-sign-in left"><a href="">Login</a></li>
                    <li class="navbutton fa fa-user-plus left"><a href="">Register</a></li>
                    <li class="navbutton fa fa-sign-out left"><a href="">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="container containershadow">

        {% block content %}{% endblock %}
        
        </div>

        
        <!-- Scripts below here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
