<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Project Whisky - {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="src/ProjectWhisky/presentation/css/normalize.css">
        <link rel="stylesheet" href="src/ProjectWhisky/presentation/css/default/style.css">
        <link rel="stylesheet" href="src/ProjectWhisky/presentation/css/default/popup.css">
        <link rel="stylesheet" href="src/ProjectWhisky/presentation/css/progress_style.css">
        <link rel="stylesheet" href="src/ProjectWhisky/presentation/css/iconfonts/css/font-awesome.min.css">
        <script src="src/ProjectWhisky/presentation/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <nav id="navbar" class="fullwidth top">
            <!-- Full top navigator -->
            <div class="navbar_icons clearfix">
                <ul class="right">
                    <li class="navbutton fa fa-search left"><a href="">Search</a></li>

                    {#Show specific menu items to particular users#}
                    {% if  user.role == 0  %}
                        <li class="navbutton fa fa-sign-in left"><a class="show-login" href="#">Login</a></li>
                        <li class="navbutton fa fa-user-plus left"><a class="show-register" href="#">Register</a></li>
                        <li class="navbutton fa fa-globe left"><a href="index.php">Website</a></li>

                    {% elseif  user.role == 1  %}
                        <li class="navbutton fa fa-globe left"><a href="index.php">Website</a></li>
                        <li class="navbutton fa fa-user left"><a href="profile.php">Profile</a></li>
                        <li class="navbutton fa fa-sign-out left"><a href="logout.php?logout=true">Logout</a></li>
                    {% elseif  user.role == 2  %}
                        <li class="navbutton fa fa-globe left"><a href="index.php">Website</a></li>
                        <li class="navbutton fa fa-cogs left"><a href="cpanel_index.php">Control Panel</a></li>
                        <li class="navbutton fa fa-user left"><a href="profile.php">Profile</a></li>
                        <li class="navbutton fa fa-sign-out left"><a href="logout.php?logout=true">Logout</a></li>
                    {% endif %}



                </ul>
            </div>


        </nav>
        <div class="container containershadow">
            {#Registration pop-up#}
            <div class="lightbox-panel-register">
                <h3>Register</h3>
                <form name="register_form" id="register_form" method="post" action="registration.php">
                    <input type="text" class="register_name" name="firstname" placeholder="Firstname">
                    <input type="text" class="register_name" name="lastname" placeholder="Lastname">
                    <input type="text" class="register_email" name="email" placeholder="E-mail">
                    <input type="text" class="register_email" name="username" placeholder="Username">
                    <input type="password" class="register_password" name="password" placeholder="Password">
                    <input type="password" class="register_password_rt" name="rpassword" placeholder="Repeat password">
                    <input class="sbmt-btn" name="registrationBtn" type="submit" value="Register">
                </form>
                <div class="error_reporting_registration">
                    <span>Verkeerde registratie</span>
                </div>
                <div class="close-register">
                    <a class="show-login register_from_login" href="#">Log in</a>
                    <a class="close-panel-register" href="#">Close window</a>
                </div>
            </div>


            {#Log in pop-up#}
            <div class="lightbox-panel-login">
                <h3>Log in</h3>
                <form name="loginfomr" id="login_form" action="authorization.php" method="post">
                    <input class="login_login" type="text" name="emailField" placeholder="Login">
                    <input class="login_pass" name="passField" type="password" placeholder="Password">
                    <input class="sbmt-btn" name="loginBtn" type="submit" value="Log in">
                </form>
                <div class="error_reporting"></div>

                <div class="close-login">
                    <a class="show-register register_from_login" href="#">Register</a>
                    <a class="close-panel-login" href="#">Close window</a>

                </div>
            </div>


        {% block content %}{% endblock %}
        
        </div>

        <footer class="bottom fullwidth">
            Footer goes here, But that's not for today..
        </footer>

        
        <!-- Scripts below here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="src/ProjectWhisky/presentation/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="src/ProjectWhisky/presentation/js/plugins.js"></script>
        <script src="src/ProjectWhisky/presentation/js/main.js"></script>
    </body>
</html>
