    {% extends "default_template.twig" %}
        {% block title %}
            {{ whisky.name }}
        {% endblock %}

        {% block content %}
            <header id="header_banner" class="vert_half">
                <div id="header_quote"><p>IceTea On The Rocks</p></div>
            </header>
            <div id="content_container">
                
                {{ whisky.name }}
                
            </div>
        {% endblock %}