/* Lightbox pop-up windows for registration and authorization */




/*
* Styling pop-up window
*/
.lightbox-panel-login, .lightbox-panel-register{
    display:none;
    position:absolute;
    top:100px;
    width:40%;
    background: rgba(0, 0, 0, 0.8);
    padding:50px 15px 30px 15px;
    border:2px solid #CCCCCC;
    z-index:1001;
    margin-left: 30%; /*For small screen 2.5% For big window 5%*/
    margin-right: 30%;
    box-sizing:border-box;
    color: white;
    text-align: center;
    min-width: 240px;
}

.lightbox-panel-login h3, .lightbox-panel-register h3{
    font-family: Arial, Avenir next, sans-serif;
    font-size: 30px;

}

/*
* Container below form, where "Close window" button and error or success messages are located
*/
.close-login, .close-register{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;

}

/*
* Styling "Close Window" button on bottom of pop-up window
*/
.close-panel-login, .close-panel-register{
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    font-family: Arial, Avenir next, sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.close-panel-login:hover, .close-panel-register:hover{
    text-decoration: underline;
}


/*
* Parameters of authorization and registration forms
*/
#login_form, #register_form{
    float: left;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    width: 100%;
}

/*
* Parameters of all form input fields on pop-up window
*/
#login_form .login_pass, #login_form .login_login, #login_form .sbmt-btn, #register_form .register_name, #register_form .register_login,
#register_form .register_email, #register_form .register_password, #register_form .register_password_rt, #register_form .sbmt-btn{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    height: 30px;
    width: 70%;
    box-sizing:border-box;
    -webkit-appearance: none;
    padding-left: 10px;
    color: #000000;
}


/*
* Submit button on registration and authorization windows
*/
.sbmt-btn{
    background-color: white;
    color:green;
    font-weight:bold;
    border: 2px solid green;
    font-size: 14px;
    cursor: pointer;
}

.sbmt-btn:hover{
    background: green;
    color: white;
}


/*
* Styling the link below "Close window" button
*/
.register_from_login{
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Avenir next, sans-serif;
    font-size: 14px;
}

.register_from_login:hover{
    text-decoration: underline;
}


/*
* Color of error messages during the registration or authorization
*/
.error_reporting, .error_reporting_registration{
    visibility: hidden;
    color: #ff0000;
    box-sizing: border-box;
}

/*
* Color of success message on the end of registration or authorization
*/
.success{
    color: #00c200;
}

.error_reporting span{
    text-align: center;
    /*float: left;*/
    margin-top: 1rem;
}





/******
* TEMPORARY profile css
*/

#passwordBlock{
    padding: 1rem 0;
    display: none;

}

.dontChangePass{
    display: none;
}